@import 'nib'

// http://dev.w3.org/csswg/css-device-adapt/#the-atviewport-rule
// http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport
@viewport
    width: device-width

// -. .-. MIXINS & VARIABLES .-. .-.
@import 'mixins.styl'
@import 'variables.styl'

@import 'grid.styl'

// -. .-. SKIP LINKS .-. .-.
#skiplinks
    vhidden()

// -. .-. CORE .-. .-.
body
    width: 960px
    margin: 0 auto
    background: #F5F5F5
    font-family: font-default
    color: color-default

// -. .-. TAGS COLORS .-. .-.

tags-color-in-prop(color)

header, nav
    tags-color-in-prop(border-bottom-color, .3)
    .tag
        text-decoration: none
        font-weight: 700
        line-height: 1.6
        height: 1.3em
        display: inline-block
        border-bottom: 1px solid

    tags-color-in-prop(color, .8, ':hover')

// -. .-. HEADER .-. .-.

header
    h1
        column: 5
        height: 100px
        margin-top: 50px
        margin-bottom: 60px
        replace-text: url('../images/presenteria.png')
    .side
        float: right
        margin-right: gutterwidth * .5
        font-size: 1.1em
    .intro
        margin-top: 40px
        text-align: right
        line-height: 1.1
    .tag
        font-size: 1.3em
    .share
        margin-top: 15px
        float: right
        li
            float: left


// -. .-. NAVIGATION .-. .-.

@import 'navigation.styl'

// -. .-. CONTENT .-. .-.

#content
    clear: both

@import 'columns.styl'
@import 'gift.styl'
@import 'gift-photo.styl'
