// fonts
font-default  = "Open Sans", sans-serif

// category colors
categories    = man #8B93B2, woman #E06C76, geek #FCAC24, culture #91517D, sport #6ABB8B, house #999999

// colors
color-default = #5B323E

